@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  width: 100%;
  height: 100vh;
  background-color: var(--black-2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-loader {
  width: 80px;
  height: 80px;
  border: 5px solid transparent;
  border-top: 5px solid #ff3131;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
